extends ../main.layout.pug

block variables
    - var title = 'Блог';

block scripts
    script(src='blog.bundle.js')

block content
    section.hero.hero--blog
        -
            var socials__list = [
            ['https://vk.com/aimeethanatogenos', 'vk'],
            ['https://github.com/Aahoolee', 'github'],
            ['http://in.com', 'in']
            ]
        .hero__socials.socials
            ul.socials__list.socials__list--hero
                each item in socials__list
                    li.socials__item
                        a(href=`${item[0]}`, target="_blank").socials__link.socials__link--hero
                            +icon(item[1], 'socials__svg socials__svg--hero')
        .hero__menu
            a(href="").hamburger
                svg.hamburger__svg
                    use(xlink:href="assets/images/icons/sprite.svg#hamburger")

        .hero__title
            .user.hero__user.hero__user--blog
                .user__pic
                    img.user__pic-img
                .user__description
                    .block-title.block-title--white Блог
                    .user__info Статьи, которые я написал

        a(href="").down-btn.hero__down-btns
            svg.arrowdown__svg
                use(xlink:href="assets/images/icons/sprite.svg#arrow_down")

    section.blog__container
        .blog__sidebar
            ul.sidebar__list
                li.sidebar__item.sidebar__item--active
                    .sidebar__text Самое важное в SASS
                li.sidebar__item
                    .sidebar__text Приёмы в вёрстке, без которых не обходится ни один сайт
                li.sidebar__item.sidebar__item--active
                    .sidebar__text Самый необходимый набор Gulp плагинов
                li.sidebar__item
                    .sidebar__text Почему я выбрал Jade
        .blog__content
            ul.article__list
                li.article__item
                    .block-subtitle.block-subtitle--blog Самое важное в SASS
                    .article__date 22 ноября 2016
                    .article__text
                        p.article__txt Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p.article__txt Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    .article__image
                        img(src="assets/images/content/blog_article.jpg" alt="кусок кода")
                li.article__item
                    .block-subtitle.block-subtitle--blog Приёмы в вёрстке, без которых не обходится ни один сайт
                    .article__date 22 ноября 2016
                    .article__text
                        p.article__txt Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p.article__txt Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
