extends ../auth.layout.pug

block content
  .wrapper
    .welcome__header
      button(type="button" class="auth-btn") Авторизоваться
    .welcome
      include ../common/welcome
      include ../common/hamburger