extends ../auth.layout.pug

block content
  .wrapper
    .welcome__header
      button.auth-btn.js-auth-btn(type="button") Авторизоваться
    .welcome
      include ../common/welcome
      include ../common/hamburger
