.fsmenu__container
    .close__btn
    .fsmenu
        ul.fsmenu__list
            li.fsmenu__item
                .block-title.block-title--white Мои работы
            li.fsmenu__item
                .block-title.block-title--white Блог
            li.fsmenu__item
                .block-title.block-title--white Обо мне
            li.fsmenu__item
                .block-title.block-title--white Авторизация
