.welcome__block
    .welcome__card
        .welcome__content
            .user.welcome__user
                .user__pic
                h1.user__name Анна Никитина
                p.user__info Личный сайт веб-разработчика
            .socials
                ul.socials__list
                    li.socials__item: a.socials__link(href='https://vk.com/aimeethanatogenos', target="_blank")
                            svg.socials__svg
                                use(xlink:href="assets/images/icons/sprite.svg#vk")
                    li.socials__item
                        a.socials__link(href='https://github.com/Aahoolee', target="_blank")
                            svg.socials__svg
                                use(xlink:href="assets/images/icons/sprite.svg#github")
                    li.socials__item
                        a.socials__link(href='https://vk.com/aimeethanatogenos', target="_blank")
                            svg.socials__svg
                                use(xlink:href="assets/images/icons/sprite.svg#in")
        .welcome__menu
            ul.welcome__menu-list
                li.welcome__menu-item
                    a.welcome__menu-link(href='myworks.html') Мои работы
                li.welcome__menu-item
                    a.welcome__menu-link(href='about.html') Обо мне
                li.welcome__menu-item
                    a.welcome__menu-link(href='blog.html') Блог
.welcome__footer © Анна Никитина | создано с любовью в LoftSchool | 2018