.welcome
    .welcome__pic
        img.welcome__pic--img
    h1.welcome__title Анна Никитина
    p.welcome__text Личный сайт веб-разработчика
    .welcome__socials
        ul.welcome__socials-list
            li.welcome__socials-item
            li.welcome__socials-item
            li.welcome__socials-item
    .welcome__menu
        ul.welcome__menu-list
            li.welcome__menu-item
                a.welcome__menu-link Мои работы
            li.welcome__menu-item
                a.welcome__menu-link Обо мне
            li.welcome__menu-item
                a.welcome__menu-link Блог

.footer © Анна Никитина | создано с любовью в LoftSchool | 2018