include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:300,400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
  body
    .wrapper
      .maincontent
        block content

      include ./common/footer.pug

    script(src='bootloader.bundle.js')
    script(src='vendor.bundle.js')
    block scripts
