.block-title{
  position: relative;
  display: inline;
  //width: 100%;
  max-width: 300px;
  font-family: bernier;
  font-size: 63px;
  line-height: 1.16;
  text-align: center;
  vertical-align: middle;

  &:hover{
    &:before{
      content: "";
      display: block;
      position: absolute;
      background-color: rgba($grey,0.2);
      width: 22px;
      height: 5px;
      top: 36px;
      left: -42px;
    }
    &:after{
      content: "";
      display: block;
      position: absolute;
      //vertical-align: middle;
      background-color: rgba($grey,0.2);
      width: 22px;
      height: 5px;
      top: 36px;
      right: -42px;
    }
  }



}

.block-title--white{
  &:hover{
    &:before{
      background-color: rgba(255,255,255,0.4);
    }
    &:after{
      background-color: rgba(255,255,255,0.4);
    }
  }
}

.block-subtitle{
  position: relative;
  display: inline;
  //width: 100%;
  max-width: 250px;
  font-family: bernier;
  font-size: 35px;
  text-align: center;
  &:hover{
    &:before{
      content: "";
      display: block;
      position: absolute;
      background-color: rgba($grey,0.2);
      width: 22px;
      height: 5px;
      top: 20px;
      left: -30px;
    }
    &:after{
      content: "";
      display: block;
      position: absolute;
      background-color: rgba($grey,0.2);
      width: 22px;
      height: 5px;
      top: 20px;
      right: -30px;
    }
  }
}

.block-subtitle--blog{
  &:hover{
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
  }

}
