/// section hero

.hero{
  background: url("assets/images/bg/hero.jpg") center center / cover no-repeat;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //clip-path: polygon(0% 0%, 0% 80%, 49.9% 100%, 50.1% 100%, 100% 80%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 80%, 50% 100%, 100% 80%, 100% 0%);
  @include tablets{
    height: 505px;
    clip-path: polygon(0% 0%, 0% 87%, 50% 100%, 100% 87%, 100% 0%);
  }
  @include phones{
    height: 95vh;
    clip-path: polygon(0% 0%, 0% 95%, 50% 100%, 100% 95%, 100% 0%);
  }
}

.hero--blog{
  height: 396px;
}

.hero__socials{
  position: absolute;
  left: 2%;
  width: 30%;
}

.hero__menu{
  position: absolute;
  right: 3%;
  top: 30px;
}

.hamburger{
  background: transparent;
  &:focus{
    outline: none;
  }

}

.hamburger__svg{
  width: 30px;
  height: 22px;
  fill: rgba(255, 255, 255, 1);
  transition: 400ms;
  &:hover{
    transition: 400ms;
    fill:rgba(255, 255, 255, 1)
  }
}

.hero__title{
  //display: flex;
  //justify-content: center;
}



.hero__user{
  color: white;
  margin-top: 80px;
}

.hero__user--blog{
  margin-top: 40px;
}

.hero__down-btns{
  //position: absolute;
  margin-top: 160px;
  text-align: center;
  //left: 49%;
  //top: 500px;
}

.down-btn{
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.arrowdown__svg{
  width: 26px;
  height: 22px;
  fill: rgba(255, 255, 255, 1);
  transition: 400ms;
  &:hover{
    transition: 400ms;
    fill:rgba(255, 255, 255, 1)
  }
}
