.auth-btn{
  position: absolute;
  color: #ffffff;
  width: 180px;
  height: 40px;
  background-color: transparent;
  transition: 400ms;
  &:hover{
    background-color: rgba(255,255,255,0.5);
    transition: 400ms;
  }
  border-radius: 5px;
  border: solid 2px;
  right: 3%;
  top: 2%;

}

.welcome{
  background: url("assets/images/bg/hero.jpg") center center / cover no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.welcome__block{
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome__card{
  position: relative;

  width: 380px;
  height: 396px;
  perspective: 1000px;
  //&:hover{
  //  .welcome__card-front{transform: rotateY(180deg);}
  //  .welcome__card-back{transform: rotateY(360deg);}
  //}
}

.welcome__card-front, .welcome__card-back{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(252, 252, 252, 0.8);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
  backface-visibility: hidden;
}

.welcome__card-front{
  transform: rotateY(0deg);

}

.welcome__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__content-back{
  padding-top: 30px;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
}

.user__pic{
  background: url("assets/images/content/user.jpg");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 40px;
}

.user__name{
  font-size: 35px;
}
.user__info{
  font-size: 16px;
  font-weight: 400;
}

.welcome__menu-list{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  height: 45px;
}

.welcome__menu-item{
  position: relative;
  width: 100%;
  border-right: solid rgba(11, 178, 159, 0.5) 2px;
  &:last-child {
    border-right: none;
  }
}

.welcome__menu-link{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 2px;
  background-color: rgba($green, .85);
  transition: 400ms;
  &:hover{
    background-color: #088d85;
    transition: 400ms;
  }
}

.welcome__card-back{
  transform: rotateY(180deg);
  opacity: 0;
  //display: none;
}

#login{
  width: 295px;
  height: 45px;
  border: none;
  margin-top: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#password{
  width: 295px;
  height: 45px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 20px;
}

#auth{
  border: solid rgba($green, .85) 1px;
  cursor: pointer;
  &:hover{
    background-color: #088d85;
    transition: 400ms;
  }
}

.form__block-label{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #f0efe9;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 20px;
  cursor: pointer;

}

.form__svg{
  width: 19px;
  height: 19px;
  fill: #c4cbcd;
  transition: 400ms;

}
.form__checkbox{
  display: none;
}

.form__block_checkbox{
  width: 20px;
  height: 20px;
  background-color: white;
  vertical-align: middle;
  color: $green;
  border: solid $green 1px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
}

.form__checkbox:checked + .form__block_checkbox:before{
  content: "";
  //font-weight: 700;
  z-index: 1;
  background-color: $green;
  color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //border-radius: 50%;
}

.check__svg{
  z-index: 5;
  fill: white;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 0;
  bottom: 0;

}

.form__block_checkbox{
  width: 20px;
  height: 20px;
  border-radius: solid $green 2px;
}

.form__title_checkbox{
  padding-left: 10px;
}

.form__title_check{
  font-weight: 700;
  padding-top: 15px;
}

.form__block_welcome-back{
  padding-top: 15px;
}

.form__block_confirm{
  padding-top: 15px;
}

.form__block--confirm{
  margin: 0 20px;
}

.form__radio{
  display: none;
}

.form__block_radio{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  vertical-align: middle;
  color: $green;
  position: relative;
  display: inline-block;
}

.form__radio:checked + .form__block_radio:before{
  content: "";
  background-color: $green;
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 50%;
}

.form__radio:checked{
  border: 2px solid $green;
}

.form__title{
  padding-left: 10px;

}



.welcome__footer{
  color: #fff;
  margin-bottom: 2%;
  padding: 0 10px;
  text-align: center;
}